.player {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;

    span {
        font-size: 32px;
        color: white;
    }

    img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
    }
}