
<ng-container *ngFor="let player of game.players; let i = index">
    <app-player [player]="player" [playerActive]="i == game.currentPlayer"  class="player-positioning" [style.top.px]="(i + 1) * 80"></app-player>
</ng-container>


<div  class="playground">
    <div class="card-steck">
        <ng-container *ngFor="let cart of [0,1,2,3,4]; let i = index;">
            <img [style.right.px]="i * 4" src="cards/card_cover.png" alt="">
        </ng-container>
        <img (click)="takeCard()" class="top-card"  src="cards/card_cover.png" alt="">
        <ng-container *ngFor="let c of game.playedCards">
            <img class="picked-card"  src="cards/{{ c }}.png" alt="">
        </ng-container>
        <img *ngIf="takeCardAnimation" class="pick-card" src="cards/{{ currentCard }}.png" alt="">
    </div>
</div>

<button mat-fab class="add-button-positioning" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>

  <app-game-info *ngIf="" class="pin-botton" [card]="currentCard"></app-game-info>